## 1 ) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return a simple list containing the name, position and salary of each person on the list like this:
['Sue', 'boss', 8000, 'John', 'dev', 6500, 'Jessie', 'admin', 5000, 'Julie', 'facilities', 3000]

Expected result: a list

In [2]:
dataset = [('Sue','boss',8000), ('John','dev',6500), ('Jessie','admin',5000),('Julie','facilities',3000)]

In [3]:
#answer
res = [j for i in dataset for j in i]
res

['Sue',
 'boss',
 8000,
 'John',
 'dev',
 6500,
 'Jessie',
 'admin',
 5000,
 'Julie',
 'facilities',
 3000]

## 2) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return a simple list containing the salary, position and name of each person on the list like this:
[8000, 'boss', 'Sue', 6500, 'dev', 'John', 5000, 'admin', 'Jessie', 3000, 'facilities', 'Julie']

Expected result: a list

In [3]:
dataset = [('Sue','boss',8000), ('John','dev',6500), ('Jessie','admin',5000),('Julie','facilities',3000)]

In [5]:
#answer
res = [j for i in dataset for j in i[::-1]]
res

[8000,
 'boss',
 'Sue',
 6500,
 'dev',
 'John',
 5000,
 'admin',
 'Jessie',
 3000,
 'facilities',
 'Julie']

## 3) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return a simple dictonary containing the name as the key and the salary as value each person on the list like this:
{'Sue': 8000, 'John': 6500, 'Jessie': 5000, 'Julie': 3000}

Expected result: a dictionary

In [5]:
dataset = [('Sue','boss',8000), ('John','dev',6500), ('Jessie','admin',5000),('Julie','facilities',3000)]

In [6]:
#answer
res = dict([i[::2] for i in dataset])
res

{'Sue': 8000, 'John': 6500, 'Jessie': 5000, 'Julie': 3000}

## 4) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return a simple dictonary containing the name as the key and the salary as value each person on the list like this:
{'Sue': 8000, 'John': 6500, 'Jessie': 5000, 'Julie': 3000} and applying a salary raise of 1000 to each person.

Expected result: a dictionary

In [7]:
dataset = [('Sue','boss',8000), ('John','dev',6500), ('Jessie','admin',5000),('Julie','facilities',3000)]

In [8]:
#answer
b = dict([i[::2] for i in dataset])
for i in b:
    b[i] += 1000
b

{'Sue': 9000, 'John': 7500, 'Jessie': 6000, 'Julie': 4000}

## 5) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return this list sorted by salary starting with the lowerest to the highest

Expected result: a list of tuples.

In [9]:
dataset = [('Sue','boss',8000), ('John','dev',6500), ('Jessie','admin',5000),('Julie','facilities',3000)]

In [11]:
#answer
res = sorted(dataset, key=lambda x: x[2])
res

[('Julie', 'facilities', 3000),
 ('Jessie', 'admin', 5000),
 ('John', 'dev', 6500),
 ('Sue', 'boss', 8000)]