In [1]:
import pandas as pd
import numpy as np

# Read dataset

In [2]:
pymarket = pd.read_csv('../datasets/pymarket.csv')
pymarket.head()

        dates     Tom     Joe  Charlie
0  10/16/2016  131.10   18.78   210.34
1  10/17/2016  459.13  424.17   176.03
2  10/18/2016  338.39  376.78   334.06
3  10/19/2016  361.32  349.26   456.03
4  10/20/2016   25.39  434.77   462.00

### 1) How much Tom has expended in Pymarket
return a value

In [3]:
# Answer 1
pymarket['Tom'].sum()

222564.53

### 2) Total and mean of Tom and Joe expenses  
return a dataframe cols: Tom and Joe ; index: sum and mea 
in that order

In [4]:
pymarket[['Tom','Joe']].agg(['sum', 'mean'])

                Tom           Joe
sum   222564.530000  214566.86000
mean     244.307936     237.61557

In [8]:
two = pymarket[['Tom','Joe']].agg(['sum', 'mean'])
two.columns

Index(['Tom', 'Joe'], dtype='object')

### 3) Which are the days in which the friends expensed more than $100 together  
return series of dates from oldest to newest

In [4]:
pymarket.loc[pymarket.sum(axis=1) > 100]['dates'].head() #just print first 5 elements

0    10/16/2016
1    10/17/2016
2    10/18/2016
3    10/19/2016
4    10/20/2016
Name: dates, dtype: object

In [12]:
three = pymarket.loc[pymarket.sum(axis=1) > 100]['dates']
three.iloc[0]

'10/16/2016'

### 4) Which are the days in which the friends didnt go to the market, any of them
return list of string of dates from oldest to newest

In [13]:
# first convert datime to index, to work better
pymarket2 = pymarket.set_index('dates')
pymarket2.head(3)

               Tom     Joe  Charlie
dates
10/16/2016  131.10   18.78   210.34
10/17/2016  459.13  424.17   176.03
10/18/2016  338.39  376.78   334.06

In [14]:
pymarket2.loc[pymarket2.isnull().all(axis=1)].index.tolist()[:5] # just print 5

['10/30/2016', '11/5/2016', '12/11/2016', '12/18/2016', '12/21/2016']

In [15]:
len(pymarket2.loc[pymarket2.isnull().all(axis=1)].index.tolist())

42

### 5) Who spent more than the others and who spent less (Whole records)
return tuple of the names (Who spend more,   Who spend less)

In [12]:
(pymarket2.max().idxmax(),  pymarket2.min().idxmin())

('Tom', 'Joe')

### 6) Who was the guy that visit the market more frecuently
return the name (string)

In [13]:
pymarket2.count().idxmax()

'Charlie'

### 7) On average, who spends  more every bi-weekly?
return a name (str)

In [16]:
#convert index to timestamp
pymarket['dates']= pd.to_datetime(pymarket['dates']) 
pymarket.iloc[0].dates

Timestamp('2016-10-16 00:00:00')

In [17]:
pymarket.head(3)

       dates     Tom     Joe  Charlie
0 2016-10-16  131.10   18.78   210.34
1 2016-10-17  459.13  424.17   176.03
2 2016-10-18  338.39  376.78   334.06

In [18]:
# create grouper
grouper = pd.Grouper(key='dates', freq='SM')

In [22]:
pymarket.groupby(grouper).sum().mean().idxmax()

'Charlie'

### 8) Which are the dates in which each friend spends less than $10  
returns a list of dates from oldest to newest

In [16]:
pymarket2 = pymarket.set_index('dates')
pymarket2.head(3)

               Tom     Joe  Charlie
dates
10/16/2016  131.10   18.78   210.34
10/17/2016  459.13  424.17   176.03
10/18/2016  338.39  376.78   334.06

In [17]:
pymarket[(pymarket.Tom < 10) & (pymarket.Joe < 10) & (pymarket.Charlie < 10)]['dates'].astype(str).tolist()

['11/17/2016',
 '2/11/2017',
 '3/11/2017',
 '4/3/2017',
 '7/3/2017',
 '8/18/2017',
 '9/9/2017',
 '10/3/2017',
 '1/22/2018',
 '2/2/2018',
 '3/28/2018',
 '4/25/2018',
 '7/26/2018',
 '9/28/2018',
 '10/3/2018',
 '11/23/2018',
 '12/6/2018',
 '12/19/2018',
 '2/6/2019',
 '2/22/2019',
 '3/24/2019']

In [18]:
len(pymarket[(pymarket.Tom < 10) & (pymarket.Joe < 10) & (pymarket.Charlie < 10)]['dates'].astype(str).tolist())

21

### 9) Create a new column called 'Tips' and calculate the total amount payed by tips for all friends
Our friends usually pay tips to the market. The value of tip is the value that rounds (ceil) the total cost by person.
Example, if Tom pays \\$8.3, then the tip will be \\$0.7  
Return a dataframe with 'Tips' column

In [19]:
pymarket['Tips'] = 0
pymarket.head(3)

        dates     Tom     Joe  Charlie  Tips
0  10/16/2016  131.10   18.78   210.34     0
1  10/17/2016  459.13  424.17   176.03     0
2  10/18/2016  338.39  376.78   334.06     0

In [20]:
pymarket9 = pymarket.fillna(0)

In [21]:
pymarket9['Tips'] = pymarket9.apply(lambda row: (row.Tom - int(row.Tom)) + (row.Joe - int(row.Joe)) + (row.Charlie - int(row.Charlie)), axis=1)

In [25]:
pymarket9.index

RangeIndex(start=0, stop=1000, step=1)

### 10)  Find out how much Tom and Charlie could have saved in total if the discount system were available when they started buy in Pymarket
The Pymarket  has decided to implement discounts system. Now for each purchase someone made in which spend more than $ 100, that person will receive a 7% discount  
return tuple of *ints* of the save amount of money (Tom,Charlie)

In [27]:
tom = pymarket['Tom']
charlie = pymarket['Charlie']

In [28]:
charlie_save = charlie[charlie > 100].apply(lambda row : row*0.07).sum()

In [29]:
tom_save = tom[tom > 100].apply(lambda row : row*0.07).sum()

In [30]:
( int(tom_save) , int(charlie_save))

(14934, 15709)