In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
playstore = pd.read_csv('../datasets/playstore.csv')
playstore.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

1) Cual es la aplicacion mas cara  
2) Cual es el genero con peor rating (mean)  
3) De que genero es la app mas cara  
4) Peso promedio por genre  
5) Cuantas aplicaciones son de pago  
6) Numero de instalacciones promedio por las aplicaciones de pago  
7) A nivel de categoria de pago/free, cuantas descargas tiene cada uno en el year 2018  
8) En cuanto difieren, compras 2017 con 2018  
9) Contar cuantas aplicaciones hay por content rating  
10) Cual es la app mas antigua

### 1) Which is the most expensive app  
returns a tuple (App_name, price with dolar sign and two decimals)  
('Andres', '$10000.00')

In [3]:
playstore.drop(playstore[playstore['Price'] == 'Everyone'].index[0],inplace=True)

In [4]:
paid = playstore[playstore['Price'] != '0']

In [5]:
(playstore.iloc[paid['Price'].str.replace('$','').astype(float).idxmax()]['App'], playstore.iloc[paid['Price'].str.replace('$','').astype(float).idxmax()]['Price'])

("I'm Rich - Trump Edition", '$400.00')

### 2) What are the genres with worst rating (Mean)  
return a string

In [6]:
playstore.groupby(['Genres']).mean().idxmin().Rating

'Parenting;Brain Games'

### 3) What is the most expensive app in 'Medical' Genre  
returns a string

In [7]:
medical = playstore[playstore['Genres'] == 'Medical']
medical.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2243,Monash Uni Low FODMAP Diet,MEDICAL,4.2,1135,12M,"100,000+",Paid,$9.00,Everyone,Medical,"July 16, 2018",2.0.7,4.0 and up
2244,iBP Blood Pressure,MEDICAL,4.4,578,704k,"10,000+",Paid,$0.99,Everyone,Medical,"November 30, 2014",7.0.1,2.2 and up

In [8]:
playstore.iloc[medical['Price'].str.replace('$','').astype(float).idxmax()]['App']

'EP Cook Book'

### 4) Awerage size by genre  
return dataframe colum = Size, index=Genres

In [6]:
size = playstore

In [7]:
def clear(item):
    result = re.match( r'(\d+\.?\d+)', item)
    if result:
        return result.group(0) if 'M' in item else float(result.group(0))/1000
    else:
        return np.nan

In [8]:
size['Size'] = size['Size'].apply(clear)

In [9]:
size.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

In [10]:
df = size[['Size','Genres']]
df = df.astype({"Size": float})
df.head()

   Size                     Genres
0  19.0               Art & Design
1  14.0  Art & Design;Pretend Play
2   8.7               Art & Design
3  25.0               Art & Design
4   2.8    Art & Design;Creativity

In [11]:
df.groupby(['Genres']).mean().head(3)

                                Size
Genres
Action                     50.456706
Action;Action & Adventure  53.000000
Adventure                  37.094203

In [16]:
four = df.groupby(['Genres']).mean()
four.columns

Index(['Size'], dtype='object')

### 5) How many apps are paid  
returns a number

In [15]:
playstore[playstore['Type'] == 'Paid'].shape[0]

800

### 6) Number of installations by Genre  
return a dataframe: index: 'Genres', cols: 'Installs' sum of installations

In [17]:
six = playstore[['Installs','Genres']]
six.head(3)

     Installs                     Genres
0     10,000+               Art & Design
1    500,000+  Art & Design;Pretend Play
2  5,000,000+               Art & Design

In [18]:
six.loc[: , 'Installs'] = six['Installs'].apply(lambda x: x.replace('+','').replace(',','')).astype(int).copy()

C:\dev\conda\lib\site-packages\pandas\core\indexing.py:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [19]:
six['Installs'][:5]

0       10000
1      500000
2     5000000
3    50000000
4      100000
Name: Installs, dtype: int32

In [20]:
six.groupby(['Genres']).sum().head(3)

                               Installs
Genres
Action                     9.342039e+09
Action;Action & Adventure  8.802050e+07
Adventure                  4.066953e+08

In [23]:
df = six.groupby(['Genres']).sum()
df.columns

Index(['Installs'], dtype='object')

### 7) How many downloads have paid and free in 2018

In [24]:
seven =  playstore[['Installs','Last Updated','Type']]
seven.head(4)

      Installs      Last Updated  Type
0      10,000+   January 7, 2018  Free
1     500,000+  January 15, 2018  Free
2   5,000,000+    August 1, 2018  Free
3  50,000,000+      June 8, 2018  Free

In [25]:
seven.loc[:,'Installs'] = seven['Installs'].apply(lambda x: x.replace('+','').replace(',','')).astype(int).copy()

In [26]:
seven.head(4)

   Installs      Last Updated  Type
0     10000   January 7, 2018  Free
1    500000  January 15, 2018  Free
2   5000000    August 1, 2018  Free
3  50000000      June 8, 2018  Free

In [27]:
year = seven[seven['Last Updated'].str.contains('2018')]
year.head(2)

   Installs      Last Updated  Type
0     10000   January 7, 2018  Free
1    500000  January 15, 2018  Free

In [28]:
year.groupby(['Type']).sum()

          Installs
Type
Free  1.612764e+11
Paid  5.491397e+07

In [32]:
df = year.groupby(['Type']).sum()
df.index

Index(['Free', 'Paid'], dtype='object', name='Type')

In [38]:
playstore.iloc[seven['Installs'].idxmax()]

App                 Google Play Books
Category          BOOKS_AND_REFERENCE
Rating                            3.9
Reviews                       1433233
Size                              NaN
Installs               1,000,000,000+
Type                             Free
Price                               0
Content Rating                   Teen
Genres              Books & Reference
Last Updated           August 3, 2018
Current Ver        Varies with device
Android Ver        Varies with device
Name: 152, dtype: object